@use "@/shared/styles/variables.scss" as *;

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ededed;
  font-size: 24px;
  border: none;
  transition: all $transition-normal;

  &.completed {
    .text {
      text-decoration: line-through;
      color: #d9d9d9;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  gap: $spacing-md;
}

.checkbox {
  width: 40px;
  height: 40px;
  border: 1px solid #ededed;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all $transition-normal;
  color: #5dc2af;
  margin-right: 15px;

  &:hover {
    border-color: #5dc2af;
  }

  &.checked {
    background: transparent;
    border-color: #5dc2af;
  }

  @media (max-width: 500px) {
    width: 30px;
    height: 30px;
  }
}

.text {
  flex: 1;
  font-size: 24px;
  color: #4d4d4d;
  word-break: break-word;
  padding: 15px;

  @media (max-width: 500px) {
    font-size: 18px;
    padding: 0;
  }
}

.removeButton {
  width: 20px;
  height: 20px;
  margin: auto 0;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #af5b5e;
}
