@use "@/shared/styles/variables.scss" as *;

.input {
  width: 100%;
  padding: 16px;
  border: none;
  background: $shadow-ultra-light;
  box-shadow: inset 0 -2px 1px $shadow-very-light;
  font-size: $text-xl;
  font-family: inherit;
  color: inherit;
  outline: none;
  position: relative;

  &::placeholder {
    color: $accent-placeholder;
    font-style: italic;
  }

  @media (max-width: 768px) {
    font-size: $text-lg;
    padding: 10px;
  }
}
