@use "@/shared/styles/variables.scss" as *;

.clearButton {
  background: none;
  border: none;
  color: $gray-dark;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
