@use "@/shared/styles/variables.scss" as *;

.clearButton {
  background: none;
  border: none;
  color: $gray-dark;
  cursor: pointer;
  font-size: $text-sm;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
