@use "@/shared/styles/variables.scss" as *;

.checkbox {
  width: 40px;
  height: 40px;
  border: 2px solid $border-color;
  border-radius: $radius-sm;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all $transition-normal;
  color: $accent-success;
  margin-right: $md;

  &:hover {
    border-color: $accent-success;
  }

  &.checked {
    background: transparent;
    border-color: $accent-success;
  }

  @media (max-width: 500px) {
    width: 30px;
    height: 30px;
  }
}
