@use "@/shared/styles/variables.scss" as *;

.todoListContainer {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.todoList {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid $gray-medium;
}

.emptyState {
  text-align: center;
  padding: $xl;
  color: $gray-dark;
  font-style: italic;
}

.emptyStateText {
  margin: 0;
  font-size: $text-md;
}

.searchResults {
  padding: $md $lg;
  background-color: $gray-light;
  border-bottom: 1px solid $gray-medium;
  text-align: center;
}

.searchResultsText {
  margin: 0;
  font-size: $text-sm;
  color: $gray-dark;
  font-weight: 500;
}
