@use "@/shared/styles/variables.scss" as *;

.title {
  font-size: 100px;
  font-weight: 100;
  color: $title-color;
  text-align: center;
  margin: 0;
  line-height: 1;

  @media (max-width: 768px) {
    font-size: 80px;
  }
}
